@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-family: 'Lato', sans-serif;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-image: url(../img/body.png);
  background-repeat: repeat;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.row {
  position: relative;

  @extend .clearfix;
}
.container {
  max-width: 1150px;
}
header {
  .logo {
    padding-top: 15px;
    padding-left: 0 !important;
    .logo__title {
      font-family: $latobold;
      font-family: 'Lato', sans-serif;
      font-size: 38px;
      font-weight: bold;
      line-height: 1;

      margin: 0 0 6px;

      color: $red;
      span {
        color: blue;
      }
    }
    .logo__description {
      font-size: 18px;
      font-weight: normal;

      padding-left: 15px;

      color: $dark-blue;
    }
  }
  .ask-question {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 0 !important;
    .ask-question__container {
      position: relative;

      display: block;
      float: right;

      width: 365px;
      height: 70px;
      padding: 5px 0 0 65px;

      cursor: pointer;
      transition: $base-transition;
      text-align: center;

      border: 1px solid #bdc3c7;
      border-radius: $base-border-radius;
      img {
        position: absolute;
        top: 2px;
        left: 5px;
      }
      span {
        display: block;

        text-align: center;
        &.title {
          font-family: $latoheavy;
          font-size: 23px;

          color: $red;
        }
        &.name {
          font-family: $latobold;
          font-size: 18px;

          color: $dark-blue;
        }
        &.post {
          font-size: 13px;

          color: $dark-blue;
        }
      }
      &:hover {
        background-color: lighten($blue, 45%);
      }
    }
  }
  nav {
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
    ul {
      margin-right: -15px;
      margin-left: -15px;

      border: 1px solid $dark-red;
      border-radius: $base-border-radius;
      background-color: $red;
      li {
        width: 25%;

        text-align: center;
        a {
          display: block;

          padding: 10px 0;

          color: #fff;
        }
        &:hover {
          background-color: $dark-red;
          a {
            text-decoration: none;

            color: #fff;
          }
        }
      }
    }
  }
}

nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  padding-top: 8px;
  padding-bottom: 25px;

  @extend .clearfix;
  .articles__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;

    margin-bottom: 20px;

    text-transform: uppercase;
position: relative;
&:before {
  @extend .dblock;
  height: 1px;
  top: -5px;
  left: 15px;
  right: 15px;
  position: absolute;
  background-color: $red;
}
    color: $red;

  }
}
.looper {
  @extend .clearfix;
}
.feature-img {
  display: block;

  margin: 0 0 12px;
  padding: 5px;

  border: 1px solid #ebebeb;
  background-color: #fff;
  img {
    width: 100%;
  }
}
.last-articles {
  padding-bottom: 0;
  .last-articles__item {
    margin-bottom: 20px;
    .date,
    h2 {
      font-weight: bold;

      text-transform: uppercase;
    }
    h2 {
      font-size: 18px;
      line-height: 1.4;

      margin-bottom: 5px;
      a {
        text-decoration: none;

        color: $blue;
      }
    }
    .date {
      font-size: 14px;

      color: $dark-blue;
    }
    &:hover {
      .feature-img {
        background-color: #f6f6f6;
        box-shadow: $base-box-shadow;
      }
    }
  }
}
.popular-articles {
  padding-bottom: 0;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}


@import 'fonts/latofonts';
@import 'fonts/font_fontawesome';

@import 'base64';
@import 'import/print';
